#img1{
    float:right;
    top: -4px;
}

#header1{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: burlywood; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#headerhome1{
    font-size: 30px;
}

#headerhome2{
    font-size: 25px;
}

#paragraph1{
    font-size: 20px;
}

