<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleproducts.css') }}">
    <title>Jolie.com</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://i.pinimg.com/564x/45/8e/01/458e01b4e298d1b240f54ed7eb1ebf49.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <center>
    <h1 id="header1" style="background-color:whitesmoke;">Jolie</h1>
    
    <p id="headerhome1">Welcom to our store!</p>
        <br>
            <a href="/signin" class="button">Sign in</a>
            <!--<a href="/signin" id="signin"><button>Signin</button></a>-->
                <br><br>
            <a href="/signup" class="button">Sign up</a>
            <!--<a href="/signup" id="signup"><button>Signup</button></a>-->
    
    <br><br><br><br><h2 id="headerhome2">About us!</h2>
    
    <p id="paragraph1">Jolie company founded in 2010, <br> our product is special because it is straightforward in design and attitude with unique clean dials, <br>subtle colors, and solid construction, moreover you can visit our store and talk with the designer about your own custom made watch. <br> Be SPECIAL 
    with us, be UNIQUE with Jolien! </p></center>


    
</body>
</html>