<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleproducts.css') }}">
	<title>signin</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://i.pinimg.com/564x/45/8e/01/458e01b4e298d1b240f54ed7eb1ebf49.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <center><h1 id="header1" style="background-color:whitesmoke;">Jolie</h1></center>
	<center><form method="post" action="/signin">
        <!-- Heading -->
        <h2 style="font-size: 30px;">
        Sign in to your account!
        </h2>

        <!-- Subheading -->
        <p style="font-size: 20px;">
        Please fill up your information below to sign in.
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button to submit -->
        <br>
        <div>
            <input type="submit" class="button" />
        </div>
    </form></center>

</body>
</html>